# fly.toml file generated for monster-basket on 2022-12-06T18:29:58+11:00

app = "monster-basket"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[build]
  [build.args]
    BUILD_COMMAND = "bin/rails fly:build"
    SERVER_COMMAND = "bin/rails fly:server"

[deploy]
  release_command = "bin/rails fly:release"

[env]
  PORT = "8080"
  FRONTEND_ORIGIN_URL="https://monsterbasket.com.au/Oldgame"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[http_service]
  internal_port = 8080
  protocol = "tcp"
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
  [http_service.concurrency]
    type = "requests"
    soft_limit = 200
    hard_limit = 250

[[statics]]
  guest_path = "/app/public"
  url_prefix = "/"

[mounts]
  source="monster_basket_db"
  destination="/mnt/monster_basket_db"