#windowContainer{
  width: 100%;
  height: 100%;
}
.itemsWindow, .armourWindow, .skillsWindow, .questsWindow{
  position: absolute;
  background: rgb(93, 124, 163);
  top: calc(50% - 400px);
  width: 800px;
  height: 800px;
  border-radius: 50px;
}
.itemsWindow{

}
.armourWindow{

}
.skillsWindow{

}
.questsWindow{
  
}
.center{
  left: calc(50% - 400px);
  z-index: 100;
  opacity: 1;
}
.left{
  left: calc(50% - 850px);
  z-index: 50;
  opacity: 0.9;
  scale: 0.75;
}
.right{
  left: calc(50% + 50px);
  z-index: 50;
  opacity: 0.9;
  scale: 0.75;
}
.hidden{
  left: calc(50% - 400px);
  z-index: 0;
  opacity: 0;
  scale: 0.8;
}
.trans{
  transition: all 0.5s;
}
#closer{
  width: 100%;
  height: 100%;
}
.ontop{
  top: calc(50% - 400px);
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 100;
  position: absolute;
}
.miniCloser{
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  background: red;
}