#characterSelector{
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  width: 600px;
  height: 400px;
  max-height: 400px;
  left: calc(50% - 300px);
}
#characterListLeft{
  display: grid;
  border: solid white 2px;
  grid-template-rows: 1fr 40px;
  max-height: 400px;
}
#characterListRight{
  border: solid white 2px;
}
#characterList{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#characterList div{
  height: 40px;
  background: lightgray;
  box-shadow: inset 5px 5px 15px white, inset -5px -5px 15px grey;
  border: solid 2px black;
  border-bottom: none;
  color: black;
  line-height: 40px;
  transition: all 1s;
}
#characterList div:active{
  box-shadow: inset 5px 5px 15px grey, inset -5px -5px 15px white;
  transition: all 0.05s;
}
#characterListButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
}
#characterListButtons button, #characterListButtons a{
  display: inline-block;
  width: 100%;
  height: 100%;
  justify-content: center;
}